@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --logo-blue: #1d9bf0;
  --btn-blue: #1a8cd8;
  --btn-dark-blue: #272c30;
  --gray-border: lightgray;
  --dark-text: #0f1419;
  --white-text: white;
  --hover-gray: #e7e7e8;
  --hover-blue: #e8f5fd;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
